.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    height: 60px;
    width: 100%;
    padding: 10px 12% 0 12%;
    transition: .3s ease;
    background-color: #333646;
}
.header.hide {
    top: -60px;
}
.logotipo {
    height: 100%;
    margin: 0;
}
.logotipo-img {
    height: 100%;
}
.navigation {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.navigation-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.navigation-link {
    height: 50%;
    color:#dddddd;
    font-size: .6rem;
    transition: .3s;
}
.navigation-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #dddddd;
    transition: width .3s;
}
.navigation-link:hover {
    color: white;
}
.navigation-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.hamburguer {
    display: none;
}


@media (max-width: 1040px) {
    .navigation {
        width: 45%;
    }
    .navigation-link {
        font-size: .7rem;
    }
}

@media (max-width: 876px) {
    .navigation {
        width: 55%;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 10px 5% 0 5%;
    }
    .navigation {
        visibility: hidden;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        background-color: #333646;
        margin: 0;
        -webkit-clip-path: circle(100px at 110% -10%);
        clip-path: circle(100px at 110% -10%);
        transition: all 1.5s ease-in-out;
    }
    .navigation.visible {
        visibility: visible;
        -webkit-clip-path: circle(1200px at 110% -10%);
        clip-path: circle(1200px at 110% -10%);
    }
    .navigation-item {
        height: 40px;
    }
    .navigation-link {
        font-size: 1.1rem;
        height: 100%;
    }
    .navigation-link::after {
        height: 1px;
    }
    .hamburguer {
        width: 50px;
        height: 50px;
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
        z-index: 20;
        box-sizing: border-box;
        cursor: pointer;
        background-color: #333646;
        border: none;
        outline: none;
    }
    .hamburguer__line {
        width: 100%;
        height: 2px;
        background-color: white;

    }
}
