.main {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    padding: 45px 12%;
    margin-top: 60px;
    background-color: #252734;
}
.main > p {
    font-size: .6rem;
    margin: 15px 0;
    color: #bbbbbb;
    width: 50%;
    line-height: 1.2rem;
}
.main > h1 {
    margin: 5px 0;
    color: white;
    font-size: 2.2rem;
}
.main > .main__name {
    color: #1A9ED8;
}
.main__button {
    font-size: .6rem;
    width: fit-content;
    border: 1px solid #1A9ED8;
    border-radius: 5px;
    background-color: transparent;
    color: #1A9ED8;
    padding: 15px 30px;
    margin-top: 25px;
    transition: .5s all;
}
.main__button:hover {
    background-color: #1A9ED8;
    color: white;
    transform: translateY(-5px);
}

@media (max-width: 1040px) {
    .main {
        padding-top: 0;
        padding-bottom: 0;
    }
    .main > p {
        font-size: .7rem;
        margin: 25px 0;
        width: 75%;
    }
}

@media (max-width: 768px) {
    .main {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 0;
    }
    .main > .main__based {
        width: 65%;
    }
}

@media (max-width: 600px) {
    .main {
        align-items: center;
        padding: 20px;
    }
    .main > * {
        text-align: center;
    }
    .main > .main__based {
        width: 90%;
    }
}


@media (max-width: 420px) {
    .main > p {
        margin: 15px 0; 
    }
}