.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 0 15%;
    background-color: #333646;
}
.logotipo {
    height: 100%;
    margin: 0;
}
.logotipo-img {
    height: 100%;
}
.navigation {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation-link {
    color:#dddddd;
    font-size: .6rem;
    transition: .3s;
}
.navigation-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #dddddd;
    transition: width .3s;
}
.navigation-link:hover {
    color: white;
}
.navigation-link:hover::after {
    width: 100%;
    transition: width .3s;
}